$title-color: grey;
$title-font-size: medium;

p {
    color: $title-color;
    font-size: $title-font-size;
}

.slider {
    margin-top:5px;
}

.mb-9.input-section {
    padding-bottom: 10px;
}

.slider-section {
    padding-top: 5px;
}

.mb-9.slider.input-section {
    margin-top: 3px;
}

h3.rz-text-subtitle2.form-label {
    margin-top: 19px;
    margin-bottom: 0px;
}
